.canvas{
    -fx-background-color: antiquewhite, white ;
}

.gridButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}